
# === Top-Level Data & Product Directories ===
# Ignore all generated products
products/

# Ignore all raw data
data/



# === FITS Data Files (Raw & Processed) ===
# Ignore all FITS data, event files, etc.
*.fits
*.fits.gz
*.FIT
*.evt
*.DS
*.ds
*calindex.fits
*housekeeping.fits


# === SAS Setup & Calibration Files ===
# These are locally generated or part of the CCF
*.SAS
*.cif
*.ccf


# === Plots & Logs ===
# Ignore all logs and plot files
*.log
*.ps
*.pdf
*.png


# === Archives & Compressed Files ===
*.tar
*.tar.gz


# === OS System Files ===
.DS_Store
Thumbs.db

# ===Config files ===
.idea
*.xml
*.iml
.ipynb_checkpoints/
